[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "biahub"
version = "0.1.0"
description = "Bioimage analysis hub."
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.11, <4.0"

classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.11",
]

dependencies = [
  "iohub[tensorstore]>=0.3.0a5,<0.4",
  "stitch",
  "matplotlib",
  "napari[all]",
  "natsort",
  "numpy",
  "markdown",
  "monai",
  "pandas~=2.1",
  "pydantic>2,<3",
  "scipy<1.16",  # as of 06/23/2025 scipy 1.16.0 breaks test imports
  "submitit",
  "torch",
  "tqdm",
  "waveorder",
  "largestinteriorrectangle",
  "antspyx",
  "pystackreg",
  "napari-animation",
  "imageio-ffmpeg",
  "dask[array]",
  "toml",
  "scikit-learn",
  "numba>=0.58.0",
  "llvmlite>=0.41.0",
  "humanize",
]

[project.optional-dependencies]
segment = ["cellpose"]

track = ["ultrack>=0.7.0rc2"]

shard = ["tensorstore"]

build = ["build", "twine"]

all = ["biahub[segment,track,shard,build]"]

dev = [
  "biahub[all]",
  "black==25.1",
  "flake8==7.2",
  "isort==6.0",
  "pytest==8.4",
  "pre-commit~=4.2",
]
doc = [
    "zensical>=0.0.11",
    "mkdocs-click>=0.8",
]

[project.scripts]
biahub = "biahub.cli.main:cli"

[tool.uv.sources]
stitch = { git = "https://github.com/ahillsley/stitching", branch = "jen" }
waveorder = { git = "https://github.com/mehta-lab/waveorder.git" }

[tool.black]
line-length = 95
target-version = ['py310']
include = '\.pyi?$'
skip-string-normalization = true
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | build
    | dist
    | notebooks
    | ignore
    | examples
    | scripts
  )/
)
'''

[tool.isort]
profile = "black"
line_length = 95
lines_between_types = 1
default_section = "THIRDPARTY"
no_lines_before = ["STDLIB"]
ensure_newline_before_comments = true
skip_glob = ["examples/*", "scripts/*"]

[tool.pylint]
# disable all conventions, refactors, warnings (C, R, W) and the following:
# E0401: unable-to-import (since it is possible that no one environment has all required packages)
# E1136: unsubscriptable-object (anecdotal false positives for numpy objects)
disable = ["C", "R", "W", "import-error", "unsubscriptable-object"]
msg-template = "{line},{column},{category},{symbol}:{msg}"
reports = "n"

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]
testpaths = ["tests"]
