name: pull-request-ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  style:
    name: Check Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: psf/black@stable
        with:
          src: "biahub"
          options: "--check --verbose"
          use_pyproject: true
      - uses: py-actions/flake8@v2
        with:
          path: "biahub"
          flake8-version: "7.2.0"
      - uses: isort/isort-action@v1
        with:
          isort-version: "6.0.1"

  test:
    name: Run Tests
    needs: [style]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v6
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install the biahub package
      run: uv sync --extra dev --torch-backend=cpu

    - name: Test with pytest
      run: uv run pytest -v
